<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>

<body>
  <script type="module">
    import { fetchWrapper, insertHTML } from "./main.js"
    fetchWrapper('https://{{domain}}/add-to-cart')
      .then(json => {
        const list = document.querySelector('#products')
        const payButton = document.getElementById("pay-button")
        if (payButton && !json.length) {
          payButton.innerText = "Añadir productos al carrito"
          payButton.onclick = () => {
            window.location.href = "/"
          }
        }
        const loading = document.getElementById("loading")
        if (loading) {
          loading.style.display = "none"
        }
        payButton.style.display = "block"
        json.forEach((product) => {
          insertHTML(
            list,
            `<div id="${product._id}-product" class="product-card">
              <div class="name">${product.name}</div>
              <div class="price">
                <span>Precio: </span>
                <span class="${product.use_discount ? "price-discounted" : ""}">$${(product.price / 100).toFixed(2)}</span>
                ${product.use_discount ? `<span>$${(product.discount_price / 100).toFixed(2)}</span>` : ""}
              </div>
              <img class="img-product" src="${product.img}" />
              <div class="input-container">
                <label for="${product._id}-quantity">Cantidad</label>
                <input type="number" id="${product._id}-quantity" value=${product.qty} min="1" />
              </div>
              <div class="price">Total: $${(((product.use_discount ? product.discount_price : product.price) * product.qty) / 100).toFixed(2)}</div>
              <button class="fourb-button" onclick="(() => {
                window.location.href = '/product-${product.product_id}'
              })()">VER</button>
              <button id="update-${product._id}" class="fourb-button">
                Actualizar cantidad
              </button>
              <button id="remove-${product._id}" class="fourb-button">
                Eliminar producto
              </button>
            </div>`
          )
          const updateButton = document.getElementById(`update-${product._id}`)
          updateButton.onclick = async () => {
            try {
              const input = document.getElementById(`${product._id}-quantity`)
              const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
                method: "PATCH",
                body: JSON.stringify({
                  item_by_cart_id: product._id,
                  product_id: product.product_id,
                  qty: Number(input.value)
                })
              })
              alert("Producto actualizado en el carrito")
            } catch (e) {
              if (e instanceof Error) {
                alert(e.message)
              } else {
                alert("Error")
              }
            }
          }
          const deleteButton = document.getElementById(`remove-${product._id}`)
          deleteButton.onclick = async () => {
            try {
              const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
                method: "DELETE",
                body: JSON.stringify({
                  item_by_cart_id: product._id,
                })
              })
              const product_id = document.getElementById(`${product._id}-product`)
              product_id.remove()
              alert("Producto eliminado con exito")
            } catch (e) {
              if (e instanceof Error) {
                alert(e.message)
              } else {
                alert("Error")
              }
            }
          }
        })
      });
  </script>
  <fourb-header></fourb-header>
  <h2 class="title">
    Carro de compras
  </h2>
  <div class="loading" id="loading"></div>
  <div id="products" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>
  <button style="display: none;" class="fourb-button" id="pay-button">Pagar</button>
  <script type="module">
    const button = document.getElementById("pay-button")
    if (button) {
      button.onclick = () => {
        window.location.href = "/checkout"
      }
    }
  </script>
</body>

</html>