<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="main.css">
  </head>
  <script type="module" src="main.js"></script>
  <body>
    <script type="module">
      import { fetchWrapper } from "./main.js"
      fetchWrapper('http://localhost:8000/add-to-cart')
      .then(json => {
        const list = document.querySelector('#products')
        json.forEach((product, idx) => {
          const projectEl = document.createElement('div')
          projectEl.id = `${idx}-product`
          const name = document.createElement('div')
          name.textContent = product.name
          const price = document.createElement('div')
          price.textContent = (product.price / 100).toFixed(2)
          projectEl.appendChild(name)
          projectEl.appendChild(price)
          const input = document.createElement('input')
          input.type = "number"
          input.id = `${idx}-quantity`
          input.value = product.qty
          input.min = "1"
          projectEl.appendChild(input)
          const viewButton = document.createElement('button')
          viewButton.onclick = () => {
            window.location.href = `/product-${product._id}`;
          }
          viewButton.textContent = "VER"
          projectEl.appendChild(viewButton)
          const buyButton = document.createElement('button')
          buyButton.onclick = async () => {
            try {
              const input = document.getElementById(`${idx}-quantity`)
              const data = await fetchWrapper('http://localhost:8000/add-to-cart', {
                method: "PATCH",
                body: JSON.stringify({
                  item_by_cart_id: product._id,
                  product_id: product.product_id,
                  qty: Number(input.value)
                })
              })
              alert("Item in cart updated")
            } catch {
              alert("Error")
            }
          }
          buyButton.textContent = "Actualizar cantidad"
          projectEl.appendChild(buyButton)
          const deleteButton = document.createElement('button')
          deleteButton.onclick = async () => {
            try {
              const data = await fetchWrapper('http://localhost:8000/add-to-cart', {
                method: "DELETE",
                body: JSON.stringify({
                  item_by_cart_id: product._id,
                })
              })
              const product = document.getElementById(`${idx}-product`)
              product.remove()
              alert("Item removed")
            } catch(e) {
              alert("Error")
            }
          }
          deleteButton.textContent = "Eliminar producto"
          projectEl.appendChild(deleteButton)
          list.appendChild(projectEl)
        })
      });
    </script>
    <fourb-header></fourb-header>
    <p>
      Carro de compras
    </p>
    <div id="products"></div>
    <button id="pay-button">Pagar</button>
    <script type="module">
      const button = document.getElementById("pay-button")
      if (button) {
        button.onclick = () => {
          window.location.href = "/checkout"
        }
      }
    </script>
  </body>
</html>