<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="main.css">
  </head>
  <script type="module" src="main.js"></script>
  <body>
    <script type="module">
      import { fetchWrapper } from "./main.js"
      fetchWrapper('http://localhost:8000/add-to-cart')
      .then(json => {
        const list = document.querySelector('#products')
        json.forEach((product, idx) => {
          const projectEl = document.createElement('div')
          projectEl.id = `${idx}-product`
          const name = document.createElement('div')
          name.textContent = product.name
          const price = document.createElement('div')
          price.textContent = (product.price / 100).toFixed(2)
          projectEl.appendChild(name)
          projectEl.appendChild(price)
          const quantity = document.createElement('div')
          quantity.innerText = product.qty
          projectEl.appendChild(quantity)
          const viewButton = document.createElement('button')
          viewButton.onclick = () => {
            window.location.href = `/product-${product._id}`;
          }
          viewButton.textContent = "VER"
          projectEl.appendChild(viewButton)
          list.appendChild(projectEl)
        })
      });
    </script>
    <fourb-header></fourb-header>
    <p>
      Carro de compras
    </p>
    <div id="products"></div>
    <form action="http://localhost:8000/checkout" method="POST" id="checkout">
      <label for="name">Nombre</label>
      <input id="name" name="name" type="text" required />
      <label for="apellidos">Apellidos</label>
      <input id="apellidos" name="apellidos" type="text" required />
      <label for="street">Dirección</label>
      <input id="street" name="street" type="text" required />
      <label for="country">Pais</label>
      <input id="country" name="country" type="text" required />
      <label for="colonia">Colonia</label>
      <input id="colonia" name="colonia" type="text" required />
      <label for="zip">Código Postal</label>
      <input id="zip" name="zip" type="text" required />
      <label for="city">Ciudad</label>
      <input id="city" name="city" type="text" required />
      <label for="state">Estado</label>
      <input id="state" name="state" type="text" required />
      <label for="phone">Telefono</label>
      <input id="phone" name="phone" type="text" required />
      <button type="submit">Pagar</button>
    </form>
    <script type="module">
      import { getCookie, fetchWrapper } from "./main.js"
      const accessToken = localStorage.getItem("accessToken")
      if (!accessToken) {
        const form = document.querySelector('#checkout')
        const input = document.createElement('input')
        input.type = "text"
        input.name = "email"
        input.id = "email"
        const label = document.createElement('label')
        label.for = "email"
        label.innerText = "Email"
        form.prepend(input)
        form.prepend(label)
      }
      const session = getCookie("session")
      const user = sessionStorage.getItem("user")
      if (user) {
        const parsed = JSON.parse(user)
        if (parsed) {
          const form = document.querySelector('#checkout')
          if (parsed.email) {
            const email = document.getElementById('email')
            email.value = parsed.email
          }
          if (parsed.addresses) {
            const select = document.createElement('select')
            parsed.addresses.forEach((address) => {
              const option = document.createElement('option')
              option.value = address._id
              option.innerText = address.full_address
              select.appendChild(option)
            })
            select.name = "address_id"
            select.id = "address_id"
            const option = document.createElement('option')
            form.prepend(select)
            option.value = ""
            option.innerText = "Usar nueva dirección"
            const changeAddress = (address_id, addresses) => {
              const address = parsed.addresses.find(address => address_id === address._id)
              if (address) {
                select.value = address._id
                const name = document.getElementById('name')
                name.value = address.name
                const apellidos = document.getElementById('apellidos')
                apellidos.value = address.apellidos
                const street = document.getElementById('street')
                street.value = address.street
                const country = document.getElementById('country')
                country.value = address.country
                const state = document.getElementById('state')
                state.value = address.state
                const zip = document.getElementById('zip')
                zip.value = address.zip
                const city = document.getElementById('city')
                city.value = address.city
                const phone = document.getElementById('phone')
                phone.value = address.phone
                const colonia = document.getElementById('colonia')
                colonia.value = address.colonia
              }
            }
            const onChangeSelect = async (e) => {
              const { value } = e.target
              changeAddress(value, parsed.addresses)
            }
            select.addEventListener("change", onChangeSelect)
            select.appendChild(option)
            if (parsed.default_address) {
              changeAddress(parsed.default_address, parsed.addresses)
            }
          }
        }
      } else if (session) {
        const parsed = JSON.parse(session)
        if (parsed) {
          const form = document.querySelector('#checkout')
          const email = document.getElementById('email')
          email.value = parsed.email
          const name = document.getElementById('name')
          name.value = parsed.name
          const apellidos = document.getElementById('apellidos')
          apellidos.value = parsed.apellidos
          const street = document.getElementById('street')
          street.value = parsed.street
          const country = document.getElementById('country')
          country.value = parsed.country
          const state = document.getElementById('state')
          state.value = parsed.state
          const zip = document.getElementById('zip')
          zip.value = parsed.zip
          const city = document.getElementById('city')
          city.value = parsed.city
          const phone = document.getElementById('phone')
          phone.value = parsed.phone
          const colonia = document.getElementById('colonia')
          colonia.value = parsed.colonia
        }
      }
      const form = document.getElementById('checkout')
      const checkoutSubmit = async (e) => {
        e.preventDefault();
        try {
          const data = await fetchWrapper("http://localhost:8000/checkout", {
            method: 'POST',
            body: JSON.stringify({
              name: form.name.value,
              apellidos: form.apellidos.value,
              street: form.street.value,
              country: form.country.value,
              colonia: form.colonia.value,
              zip: form.zip.value,
              city: form.city.value,
              state: form.state.value,
              phone: form.phone.value,
              email: form.email.value,
              address_id: form?.address_id?.value,
            }),
          })
          if (data.checkout_id) {
            localStorage.setItem("checkout_id", data.checkout_id)
          }
          window.location.href = "/payment"
        } catch(e) {
          if (e instanceof Error) {
            alert(e.message)
          } else {
            alert("Error")
          }
        }
      }
      form.addEventListener("submit", checkoutSubmit)
    </script>
  </body>
</html>