<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>

<body>
  <script type="module">
    import { fetchWrapper, insertHTML } from "./main.js"
    fetchWrapper('https://{{domain}}/purchases')
      .then(json => {
        const loading = document.getElementById("loading")
        if (loading) {
          loading.style.display = "none"
        }
        const list = document.querySelector('#purchases')
        json.forEach(product => {
          insertHTML(
            list,
            `<div class="product-card">
              <div class="name">${product.name}</div>
              <div class="price">
                Precio unitario: $${((product.use_discount ? product.discount_price : product.price) / 100).toFixed(2)}</span>
              </div>
              <img class="img-product" src="${product.img}" />
              <div class="price">
                Cantidad: ${product.qty}</span>
              </div>
              <div class="price">
                Total: $${(((product.use_discount ? product.discount_price : product.price) * product.qty) / 100).toFixed(2)}</span>
              </div>
              <button class="fourb-button" onclick="(() => {
                window.location.href = '/product-${product.product_id}'
              })()">VER</button>
              <button id="add-to-cart-${product._id}" class="fourb-button">
                AÑADIR AL CARRITO
              </button>
            </div>`
          )
          const buyButton = document.createElement(`add-to-cart-${product._id}`)
          buyButton.onclick = async () => {
            try {
              const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
                method: "POST",
                body: JSON.stringify({
                  product_id: product.product_id,
                  qty: 1
                })
              })
              alert("Añadido al carrito")
            } catch (e) {
              if (e instanceof Error) {
                alert(e.message)
              } else {
                alert("Error")
              }
            }
          }
        })
      });
  </script>
  <fourb-header></fourb-header>
  <h2 class="title">Compras recientes</h2>
  <div class="loading" id="loading"></div>
  <div id="purchases" style="display: flex; justify-content: center; flex-wrap: wrap;"></div>
</body>

</html>