<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>

<body>
  <script type="module">
    import { fetchWrapper } from "./main.js"
    fetchWrapper('https://{{domain}}/purchases')
      .then(json => {
        const loading = document.getElementById("loading")
        if (loading) {
          loading.style.display = "none"
        }
        const list = document.querySelector('#purchases')
        json.forEach(product => {
          const projectEl = document.createElement('div')
          projectEl.className = "product-card"
          const name = document.createElement('div')
          name.textContent = product.name
          name.className = "name"
          const price = document.createElement('div')
          price.className = "price"
          price.textContent = `$${(product.price / 100).toFixed(2)}`
          const qty = document.createElement('div')
          qty.textContent = `Cantidad: ${product.qty}`
          qty.className = "price"
          const total = document.createElement('div')
          total.textContent = `Total: $${((product.price * product.qty) / 100).toFixed(2)}`
          total.className = "price"
          projectEl.appendChild(name)
          projectEl.appendChild(price)
          projectEl.appendChild(qty)
          projectEl.appendChild(total)
          const viewButton = document.createElement('button')
          viewButton.onclick = () => {
            window.location.href = `/product-${product.product_id}`;
          }
          viewButton.textContent = "VER"
          viewButton.className = "fourb-button"
          projectEl.appendChild(viewButton)
          const buyButton = document.createElement('button')
          buyButton.onclick = async () => {
            try {
              const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
                method: "POST",
                body: JSON.stringify({
                  product_id: product._id,
                  qty: 1
                })
              })
              alert("Añadido al carrito")
            } catch {
              alert("Error")
            }
          }
          buyButton.textContent = "AÑADIR AL CARRITO OTRA VEZ"
          buyButton.className = "fourb-button"
          projectEl.appendChild(buyButton)
          list.appendChild(projectEl)
        })
      });
  </script>
  <fourb-header></fourb-header>
  <h2 class="title">Compras recientes</h2>
  <div class="loading" id="loading"></div>
  <div id="purchases" style="display: flex; justify-content: center; flex-wrap: wrap;"></div>
</body>

</html>