<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="main.css">
  </head>
  <script type="module" src="main.js"></script>
  <body>
    <script type="module">
      import { fetchWrapper } from "./main.js"
      fetchWrapper('https://{{domain}}/purchases')
        .then(json => {
          const list = document.querySelector('#purchases')
          json.forEach(product => {
            const projectEl = document.createElement('div')
            const name = document.createElement('div')
            name.textContent = product.name
            const price = document.createElement('div')
            price.textContent = (product.price / 100).toFixed()
            const qty = document.createElement('div')
            qty.textContent = product.qty
            projectEl.appendChild(name)
            projectEl.appendChild(price)
            projectEl.appendChild(qty)
            const viewButton = document.createElement('button')
            viewButton.onclick = () => {
              window.location.href = `/product-${product._id}`;
            }
            viewButton.textContent = "VER"
            projectEl.appendChild(viewButton)
            const buyButton = document.createElement('button')
            buyButton.onclick = async () => {
              try {
                const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
                  method: "POST",
                  body: JSON.stringify({
                    product_id: product._id,
                    qty: 1
                  })
                })
                alert("Añadido al carrito")
              } catch {
                alert("Error")
              }
            }
            buyButton.textContent = "AÑADIR AL CARRITO OTRA VEZ"
            projectEl.appendChild(buyButton)
            list.appendChild(projectEl)
          })
        });
    </script>
    <fourb-header></fourb-header>
    <div>Compras recientes</div>
    <div id="purchases"></div>
  </body>
</html>