<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>

<body>
  <script type="module">
    import { fetchWrapper, toCurrency, insertBeforeHTML } from "./main.js"
    fetchWrapper('https://{{domain}}/inventory')
      .then(json => {
        const loading = document.getElementById("loading")
        if (loading) {
          loading.style.display = "none"
        }
        const list = document.querySelector('#inventory')
        json.forEach(product => {
          insertBeforeHTML(
            list,
            `<div class="product-card">
              <form method="PATCH" action="https://{{domain}}/inventory" id="update-product-${product._id}">
                <div class="input-container">
                  <label for="name">Nombre</label>
                  <input id="name-product" name="name" required type="text" value="${product.name}"  />
                </div>
                <div class="input-container">
                  <label for="code">Code</label>
                  <input id="code-product" name="code" required type="text" value="${product.code}" />
                </div>
                <div class="input-container">
                  <label for="currency-${product._id}">Precio</label>
                  <input onwheel="return false;" id="currency-${product._id}" type="number" pattern="\d*" step="any" name="currency" value="${toCurrency(String(product.price), '.')}" required />
                </div>
                <div class="input-container">
                  <label for="discount-${product._id}">Precio de descuento</label>
                  <div>
                    <input type="checkbox" id="checkboxDiscount" name="checkboxDiscount" ${product.use_discount ? "checked" : ""} />
                    <label for="checkboxDiscount">Usar descuento</label>
                  </div>
                  <input onwheel="return false;" id="discount-${product._id}" type="number" pattern="\d*" step="any" name="discount" value="${toCurrency(String(product.discount_price), '.')}" required />
                </div>
                <div class="input-container">
                  <label for="increment-${product._id}">Añadir al inventario</label>
                  <input onwheel="return false;" id="increment-${product._id}" type="number" value="0" name="increment" />
                </div>
                <div id="images-container" class="input-container">
                  ${(product?.img?.map?.((img, index) => {
              return `<div id="image-container-${index}" style="position: relative">
                      <button
                        id="remove-image-${index}"
                        style="font-weigth: bold; position: absolute; top: 0px; right: 0px;cursor: pointer;
                        padding: 6px 10px;
                        background: white;
                        border-radius: 100%;
                        border: 1px solid black;
                        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)">x</button>
                      <img class="img-uploaded" id="img-uploaded-${index}" alt="" width="100%" src="${img}" />
                    </div>`
            }) || []).join()}
                </div>
                <div id="available-${product._id}" class="price">
                  Disponible: ${product.available}</span>
                </div>
                <div id="total-${product._id}" class="price">
                  Total: ${product.total}</span>
                </div>
                <div class="input-container">
                  <label for="discount">Tags</label>
                  <div style="display: flex; flex-wrap: wrap;">
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxArete-${product._id}" name="checkboxArete" ${product.tags.includes("arete") ? "checked" : ""} />
                      <label for="checkboxArete-${product._id}">Arete</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxCollar-${product._id}" name="checkboxCollar" ${product.tags.includes("collar") ? "checked" : ""} />
                      <label for="checkboxCollar-${product._id}">Collar</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxAnillo-${product._id}" name="checkboxAnillo" ${product.tags.includes("anillo") ? "checked" : ""} />
                      <label for="checkboxAnillo-${product._id}">Anillo</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxPulsera-${product._id}" name="checkboxPulsera" ${product.tags.includes("pulsera") ? "checked" : ""} />
                      <label for="checkboxPulsera-${product._id}">Pulsera</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxPiercing-${product._id}" name="checkboxPiercing" ${product.tags.includes("piercing") ? "checked" : ""} />
                      <label for="checkboxPiercing-${product._id}">Piercing</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTobillera-${product._id}" name="checkboxTobillera" ${product.tags.includes("tobillera") ? "checked" : ""} />
                      <label for="checkboxTobillera-${product._id}">Tobillera</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxOro10K-${product._id}" name="checkboxOro10K" ${product.tags.includes("oro10k") ? "checked" : ""} />
                      <label for="checkboxOro10K-${product._id}">ORO 10 K</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxAjustable-${product._id}" name="checkboxAjustable" ${product.tags.includes("ajustable") ? "checked" : ""} />
                      <label for="checkboxAjustable-${product._id}">Ajustable</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTalla5-${product._id}" name="checkboxTalla5" ${product.tags.includes("talla5") ? "checked" : ""} />
                      <label for="checkboxTalla5-${product._id}">Talla 5</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTalla6-${product._id}" name="checkboxTalla6" ${product.tags.includes("talla6") ? "checked" : ""} />
                      <label for="checkboxTalla6-${product._id}">Talla 6</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTalla7-${product._id}" name="checkboxTalla7" ${product.tags.includes("talla7") ? "checked" : ""} />
                      <label for="checkboxTalla7-${product._id}">Talla 7</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTalla8-${product._id}" name="checkboxTalla8" ${product.tags.includes("talla8") ? "checked" : ""} />
                      <label for="checkboxTalla8-${product._id}">Talla 8</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTalla9-${product._id}" name="checkboxTalla9" ${product.tags.includes("talla9") ? "checked" : ""} />
                      <label for="checkboxTalla9-${product._id}">Talla 9</label>
                    </div>
                    <div style="width: 25%;">
                      <input type="checkbox" id="checkboxTalla10-${product._id}" name="checkboxTalla10" ${product.tags.includes("tall10") ? "checked" : ""} />
                      <label for="checkboxTalla10-${product._id}">Talla 10</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="fourb-button" type="submit">Actualizar</button>
                <button type="button" class="fourb-button" onclick="(() => {
                  window.location.href = '/product-${product._id}'
                })()">VER</button>
              </form>
            </div>`
          )
          const priceInput = document.getElementById(`currency-${product._id}`)
          priceInput.oninput = (e) => {
            const valueAsCurrency = toCurrency(e.target.value, '.')
            priceInput.value = valueAsCurrency
          }
          const discountPriceInput = document.getElementById(`discount-${product._id}`)
          discountPriceInput.oninput = (e) => {
            const valueAsCurrency = toCurrency(e.target.value, '.')
            discountPriceInput.value = valueAsCurrency
          }
          const form = document.getElementById(`update-product-${product._id}`)
          const available = document.getElementById(`available-${product._id}`)
          const total = document.getElementById(`total-${product._id}`)
          form.addEventListener("submit", async (e) => {
            try {
              e.preventDefault()
              const data = await fetchWrapper("https://{{domain}}/inventory", {
                method: "PATCH",
                body: JSON.stringify({
                  id: product._id,
                  name: form.name.value,
                  increment: Number(form.increment.value),
                  code: form.code.value,
                  price: Number(form.currency.value) * 100,
                  discountPrice: Number(form.discount.value) * 100,
                  useDiscount: form.checkboxDiscount.checked,
                  checkboxArete: form.checkboxArete.checked,
                  checkboxCollar: form.checkboxCollar.checked,
                  checkboxAnillo: form.checkboxAnillo.checked,
                  checkboxPulsera: form.checkboxPulsera.checked,
                  checkboxPiercing: form.checkboxPiercing.checked,
                  checkboxTobillera: form.checkboxTobillera.checked,
                  checkboxOro10K: form.checkboxOro10K.checked,
                  checkboxAjustable: form.checkboxAjustable.checked,
                  checkboxTalla5: form.checkboxTalla5.checked,
                  checkboxTalla6: form.checkboxTalla6.checked,
                  checkboxTalla7: form.checkboxTalla7.checked,
                  checkboxTalla8: form.checkboxTalla8.checked,
                  checkboxTalla9: form.checkboxTalla9.checked,
                  checkboxTalla10: form.checkboxTalla10.checked,
                })
              })
              available.innerText = `Disponible: ${data.product.available}`
              total.innerText = `Total: ${data.product.total}`
              alert("¡Actualizado con exito!")
            } catch (e) {
              if (e instanceof Error) {
                alert(e.message)
              } else {
                alert("Error")
              }
            }
          })
        })
      });
  </script>
  <fourb-header></fourb-header>
  <h2 class="title">Inventario</h2>
  <h3 class="title">Crear producto</h3>
  <form method="POST" action="https://{{domain}}/inventory" id="create-product">
    <div class="input-container">
      <label for="name">Nombre</label>
      <input id="name-product" name="name" required type="text" />
    </div>
    <div class="input-container">
      <label for="code">Código</label>
      <input id="code-product" name="code" required type="text" />
    </div>
    <div class="input-container">
      <label for="qty">Cantidad</label>
      <input id="qty-product" name="qty" required type="number" onwheel="return false;" />
    </div>
    <div class="input-container">
      <label for="currency">Precio</label>
      <input id="currency" type="number" pattern="\d*" step="any" name="currency" value="0.00" required
        onwheel="return false;" />
    </div>
    <div class="input-container">
      <label for="discount">Precio de descuento</label>
      <div>
        <input type="checkbox" id="checkboxDiscount" name="checkboxDiscount" />
        <label for="checkboxDiscount">Usar descuento</label>
      </div>
      <input id="discount" type="number" pattern="\d*" step="any" name="discount" value="0.00" required
        onwheel="return false;" />
    </div>
    <div class="input-container checkbox-big-and-small">
      <label for="">Opciones</label>
      <div>
        <input type="checkbox" id="checkboxBigAndSmall" name="checkboxBigAndSmall" />
        <label for="checkboxBigAndSmall">Tiene opcion pequeña y grande</label>
      </div>
    </div>
    <div class="input-container img-big">
      <label for="image-big">Imagenes version grande</label>
      <input name="image-big" multiple="multiple" id="file-input-big" type="file" accept="png,jpg,jpeg" />
    </div>
    <div id="images-container-big" class="input-container images-container"></div>
    <div class="input-container img-small">
      <label for="image-small">Imagenes version chica</label>
      <input name="image-small" multiple="multiple" id="file-input-small" type="file" accept="png,jpg,jpeg" />
    </div>
    <div id="images-container-small" class="input-container images-container"></div>
    <div class="input-container imgs">
      <label for="image">Imagenes</label>
      <input name="image" multiple="multiple" id="file-input" type="file" accept="png,jpg,jpeg" />
    </div>
    <div id="images-container" class="input-container images-container">
    </div>
    <div class="input-container">
      <label for="discount">Tags</label>
      <div style="display: flex; flex-wrap: wrap;">
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxArete" name="checkboxArete" />
          <label for="checkboxArete">Arete</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxCollar" name="checkboxCollar" />
          <label for="checkboxCollar">Collar</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxAnillo" name="checkboxAnillo" />
          <label for="checkboxAnillo">Anillo</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxPulsera" name="checkboxPulsera" />
          <label for="checkboxPulsera">Pulsera</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxPiercing" name="checkboxPiercing" />
          <label for="checkboxPiercing">Piercing</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTobillera" name="checkboxTobillera" />
          <label for="checkboxTobillera">Tobillera</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxOro10K" name="checkboxOro10K" />
          <label for="checkboxOro10K">ORO 10 K</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxAjustable" name="checkboxAjustable" />
          <label for="checkboxAjustable">Ajustable</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTalla5" name="checkboxTalla5" />
          <label for="checkboxTalla5">Talla 5</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTalla6" name="checkboxTalla6" />
          <label for="checkboxTalla6">Talla 6</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTalla7" name="checkboxTalla7" />
          <label for="checkboxTalla7">Talla 7</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTalla8" name="checkboxTalla8" />
          <label for="checkboxTalla8">Talla 8</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTalla9" name="checkboxTalla9" />
          <label for="checkboxTalla9">Talla 9</label>
        </div>
        <div style="width: 25%;">
          <input type="checkbox" id="checkboxTalla10" name="checkboxTalla10" />
          <label for="checkboxTalla10">Talla 10</label>
        </div>
      </div>
    </div>
    <button class="fourb-button" type="submit">Crear</button>
  </form>
  <div class="loading" id="loading"></div>
  <div style="display: flex; justify-content: center; flex-wrap: wrap;" id="inventory"></div>
  <script type="module">
    import { fetchWrapper, toCurrency, insertBeforeHTML } from "./main.js"
    const form = document.getElementById("create-product")
    form.addEventListener("submit", async (e) => {
      e.preventDefault()
      const images = document.getElementById("images-container")
      const imagesArray = []
      const imagesArraySmall = []
      const imagesArrayBig = []
      for (const img of images?.children?.children || []) {
        imagesArray.push(img.currentSrc)
      }
      if (form.useSmallAndBig) {
        const imagesSmall = document.getElementById("images-container-small")
        const imagesBig = document.getElementById("images-container-big")
        for (const img of (imagesSmall?.children?.children || [])) {
          imagesArraySmall.push(img.currentSrc)
        }
        for (const img of (imagesBig?.children?.children || [])) {
          imagesArrayBig.push(img.currentSrc)
        }
      }
      try {
        await fetchWrapper("https://{{domain}}/inventory", {
          method: "POST",
          body: JSON.stringify({
            name: form.name.value,
            qty: Number(form.qty.value),
            price: Number(form.currency.value) * 100,
            img: imagesArray,
            imgBig: imagesArrayBig,
            imgSmall: imagesArraySmall,
            code: form.code.value,
            useSmallAndBig: form.checkboxBigAndSmall.checked,
            discountPrice: Number(form.discount.value) * 100,
            useDiscount: form.checkboxDiscount.checked,
            checkboxArete: form.checkboxArete.checked,
            checkboxCollar: form.checkboxCollar.checked,
            checkboxAnillo: form.checkboxAnillo.checked,
            checkboxPulsera: form.checkboxPulsera.checked,
            checkboxPiercing: form.checkboxPiercing.checked,
            checkboxTobillera: form.checkboxTobillera.checked,
            checkboxOro10K: form.checkboxOro10K.checked,
            checkboxAjustable: form.checkboxAjustable.checked,
            checkboxTalla5: form.checkboxTalla5.checked,
            checkboxTalla6: form.checkboxTalla6.checked,
            checkboxTalla7: form.checkboxTalla7.checked,
            checkboxTalla8: form.checkboxTalla8.checked,
            checkboxTalla9: form.checkboxTalla9.checked,
            checkboxTalla10: form.checkboxTalla10.checked,
          })
        })
        images.replaceChildren();
        form.reset()
        alert("¡Creado con exito!")
      } catch (e) {
        if (e instanceof Error) {
          alert(e.message)
        } else {
          alert("Error")
        }
      }
    })
    const input = document.getElementById("currency")
    if (input) {
      input.oninput = (e) => {
        const valueAsCurrency = toCurrency(e.target.value, '.')
        input.value = valueAsCurrency
      }
    }
    const discountInput = document.getElementById("discount")
    if (discountInput) {
      discountInput.oninput = (e) => {
        const valueAsCurrency = toCurrency(e.target.value, '.')
        discountInput.value = valueAsCurrency
      }
    }
    const fileInputCallback = (name) => async (event) => {
      try {
        console.log("name", name)
        const imagesContainer = document.getElementById(name)
        const files = event.target.files
        for (const index in files) {
          const file = files[index]
          if (file.type) {
            const img = `<div id="image-container-${file.lastModified}" style="position: relative">
                <button
                  id="remove-image-${file.lastModified}"
                  style="font-weigth: bold; position: absolute; top: 0px; right: 0px;cursor: pointer;
                  padding: 6px 10px;
                  background: white;
                  border-radius: 100%;
                  border: 1px solid black;
                  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)">x</button>
                <img class="img-uploaded" id="img-uploaded-${file.lastModified}" alt="" width="100%" />
              </div>`
            insertBeforeHTML(imagesContainer, img)
            const response = await fetchWrapper("https://{{domain}}/signed-url", {
              method: "POST",
              body: JSON.stringify({
                fileType: file.type,
              })
            })
            const awsResponse = await fetch(response.uploadUrl, {
              method: "PUT",
              body: file,
            })
            const url = new URL(response.uploadUrl);
            const imgUploaded = document.getElementById("img-uploaded-" + file.lastModified)
            if (imgUploaded) {
              imgUploaded.src = url.origin + url.pathname
            }
            const imgRemove = document.getElementById("remove-image-" + file.lastModified)
            const imgContainer = document.getElementById("image-container-" + file.lastModified)
            if (imgRemove) {
              imgRemove.onclick = () => {
                imgContainer.remove()
              }
            }
          }
        }
      } catch (e) {
        if (e instanceof Error) {
          alert(e.message)
        } else {
          alert("Error")
        }
      }
    }
    const fileInput = document.getElementById("file-input")
    if (fileInput) {
      fileInput.addEventListener("input", fileInputCallback("images-container"))
    }
    const fileInputBig = document.getElementById("file-input-big")
    if (fileInputBig) {
      fileInputBig.addEventListener("input", fileInputCallback("images-container-big"))
    }
    const fileInputSmall = document.getElementById("file-input-small")
    if (fileInputSmall) {
      fileInputSmall.addEventListener("input", fileInputCallback("images-container-small"))
    }
  </script>
</body>

</html>