<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>

<body>
  <script type="module">
    import { fetchWrapper, insertBeforeHTML } from "./main.js"
    const fetchProducts = async (after) => {
      const json = await fetchWrapper(`https://{{domain}}/inventory?limit=8`)
      const loading = document.getElementById("loading")
      if (loading) {
        loading.style.display = "none"
      }
      const list = document.querySelector('#products')
      json.forEach(product => {
        insertBeforeHTML(
          list,
          `<div class="product-card">
              <a href="/product-${product._id}">
                <img class="img-product" src="${product.img}" />
                <div class="name">${product.name}</div>
                <div class="price">
                  <span class="${product.use_discount ? "price-discounted" : ""}">$${(product.price / 100).toFixed(2)}</span>
                  ${product.use_discount ? `<span>$${(product.discount_price / 100).toFixed(2)}</span>` : ""}
                </div>
              </a>
              <button id="add-to-cart-${product._id}" class="fourb-button">
                AÑADIR AL CARRITO
              </button>
            </div>`
        )
        const buyButton = document.getElementById(`add-to-cart-${product._id}`)
        buyButton.onclick = async () => {
          try {
            const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
              method: "POST",
              body: JSON.stringify({
                product_id: product._id,
                qty: 1
              })
            })
            alert("Añadido al carrito")
          } catch (e) {
            if (e instanceof Error) {
              alert(e.message)
            } else {
              alert("Error")
            }
          }
        }
      })
    }
    const fetchDiscountProducts = async (after) => {
      const json = await fetchWrapper(`https://{{domain}}/inventory?discounts=true&limit=8`)
      const loading = document.getElementById("loading-discount")
      if (loading) {
        loading.style.display = "none"
      }
      const list = document.querySelector('#discounts')
      json.forEach(product => {
        insertBeforeHTML(
          list,
          `<div class="product-card">
              <a href="/product-${product._id}">
                <img class="img-product" src="${product.img}" />
                <div class="name">${product.name}</div>
                <div class="price">
                  <span class="${product.use_discount ? "price-discounted" : ""}">$${(product.price / 100).toFixed(2)}</span>
                  ${product.use_discount ? `<span>$${(product.discount_price / 100).toFixed(2)}</span>` : ""}
                </div>
              </a>
              <button id="add-to-cart-${product._id}" class="fourb-button">
                AÑADIR AL CARRITO
              </button>
            </div>`
        )
        const buyButton = document.getElementById(`add-to-cart-${product._id}`)
        buyButton.onclick = async () => {
          try {
            const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
              method: "POST",
              body: JSON.stringify({
                product_id: product._id,
                qty: 1
              })
            })
            alert("Añadido al carrito")
          } catch (e) {
            if (e instanceof Error) {
              alert(e.message)
            } else {
              alert("Error")
            }
          }
        }
      })
    }
    fetchProducts()
    fetchDiscountProducts()
  </script>
  <fourb-header></fourb-header>
  <div style="background-image: url('./banner.webp');
      height: 184px;background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
    <div style="color: white;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 4px;
      background: rgba(0,0,0,0.3);
      padding: 10px;
    ">NUEVAS JOYITAS</div>
    <button onclick="(() => {
      window.location.href = '/search'
    })()" style="background: rgba(0,0,0,0.3);
      border: none;
      color: white;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
    ">Ver colección</button>
  </div>
  <div id="products" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>
  <div class="loading" id="loading"></div>
  <div style="height: 184px;
      background-color: rgb(230, 222, 202);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
    <div style="color: black;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 4px;
      padding: 10px;
    ">REBAJAS</div>
    <button onclick="(() => {
        window.location.href = '/search?discounts=true'
      })()" style="border: none;
        color: black;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border-radius: 4px;">Ver colección</button>
  </div>
  <div id="discounts" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>
  <div class="loading" id="loading-discount"></div>
</body>

</html>