<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .auth-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.1);
      }
      .auth-form {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        background: white;
      }
    </style>
  </head>
  <script type="module" src="main.js"></script>
  <body>
    <script type="module">
      import { fetchWrapper } from "./main.js"
      fetch('http://localhost:8000/inventory')
        .then(response => response.json())
        .then(json => {
          const list = document.querySelector('#products')
          json.forEach(product => {
            const projectEl = document.createElement('div')
            const name = document.createElement('div')
            name.textContent = product.name
            const price = document.createElement('div')
            price.textContent = product.price
            const qty = document.createElement('div')
            qty.textContent = product.qty
            projectEl.appendChild(name)
            projectEl.appendChild(price)
            projectEl.appendChild(qty)
            const viewButton = document.createElement('button')
            viewButton.onclick = () => {
              window.location.href = `/product-${product._id}`;
            }
            viewButton.textContent = "VIEW"
            projectEl.appendChild(viewButton)
            const buyButton = document.createElement('button')
            buyButton.onclick = async () => {
              const response = await fetch('http://localhost:8000/add-to-cart', {
                method: "POST",
                headers: {
                  authorization: sessionStorage.getItem("accessToken"),
                  "Content-Type": "application/json"
                },
                body: JSON.stringify({
                  product_id: product._id,
                  qty: 1
                })
              })
              const data = await response.json()
              if (response.status === 200) {
                alert("Added to cart")
              }
            }
            buyButton.textContent = "ADD TO CART"
            projectEl.appendChild(buyButton)
            list.appendChild(projectEl)
          })
        });
    </script>
    <fourb-header></fourb-header>
    <div>Products</div>
    <div id="products"></div>
  </body>
</html>