<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>
<script type="module" crossorigin src="https://assets.conekta.com/component/2.0.2/assets/component.min.js"></script>
<script type="module" crossorigin defer>
  import { fetchWrapper } from './main.js'
  const checkout_id = localStorage.getItem("checkout_id")
  if (checkout_id) {
    const config = {
      checkoutRequestId: checkout_id,
      publicKey: 'key_FSmk9b0tZ8KedYKgLqOgerF',
      targetIFrame: 'example',
    };
    const callbacks = {
      onFinalizePayment: async (event) => {
        try {
          localStorage.removeItem("checkout_id")
          await fetchWrapper('https://{{domain}}/confirmation', {
            method: "POST",
            credentials: "include",
          })
        } catch { }
      },
      onErrorPayment: (event) => {
        alert("Error")
      },
    };
    window.ConektaCheckoutComponents.Integration({ config, callbacks });
  }
</script>

<body>
  <fourb-header></fourb-header>
  <h2 class="title">
    Pago
  </h2>
  <div id="total"></div>
  <div class="loading" id="loading"></div>
  <div style="display: flex; flex-wrap: wrap; justify-content: center;" id="products"></div>
  <form>
    <div id="example" style="width: 500px; margin: 0 auto"></div>
  </form>
  <script type="module">
    import { fetchWrapper, insertHTML } from './main.js'
    fetchWrapper('https://{{domain}}/add-to-cart')
      .then(json => {
        if (!json.length) {
          return window.location.href = "/"
        }
        const loading = document.getElementById("loading")
        if (loading) {
          loading.style.display = "none"
        }
        const list = document.querySelector('#products')
        let total = 0
        json.forEach((product) => {
          insertHTML(
            list,
            `<div id="${product._id}-product" class="product-card">
              <div class="name">${product.name}</div>
              <div class="price">
                <span>Precio unitario: </span>
                <span class="${product.use_discount ? "price-discounted" : ""}">$${(product.price / 100).toFixed(2)}</span>
                ${product.use_discount ? `<span>$${(product.discount_price / 100).toFixed(2)}</span>` : ""}
              </div>
              <img class="img-product" src="${product.img}" />
              <div class="price">Cantidad: ${product.qty}</div>
              <div class="price">Total: $${(((product.use_discount ? product.discount_price : product.price) * product.qty) / 100).toFixed(2)}</div>
              <button class="fourb-button" onclick="(() => {
                window.location.href = '/product-${product.product_id}'
              })()">VER</button>
            </div>`
          )
          total += (product.use_discount ? product.discount_price : product.price) * product.qty
        })
        const totalItem = document.getElementById('total')
        totalItem.className = "price"
        totalItem.innerText = `Total: $${(total / 100).toFixed(2)}`
      });
  </script>
</body>

</html>