<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="main.css">
  </head>
  <script type="module" src="main.js"></script>
  <body>
    <fourb-header></fourb-header>
    <p>
      {{name}}
    </p>
    <p>
      Precio: {{price}}
    </p>
    <button id="add-to-cart-button">Añadir al carrito</button>
  </body>
  <script type="module">
    import { fetchWrapper } from './main.js'
    const addToCart = async () => {
      const data = await fetchWrapper('http://localhost:8000/add-to-cart', {
        method: "POST",
        body: JSON.stringify({
          product_id: "{{_id}}",
          qty: 1
        })
      })
      alert("Added to cart")
    }
    const button = document.getElementById("add-to-cart-button")
    if (button) {
      button.onclick = () => {
        addToCart()
      }
    }
  </script>
</html>