<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="main.css">
</head>
<script type="module" src="main.js"></script>

<body>
  <fourb-header></fourb-header>
  <h3 class="name">
    {{name}}
  </h3>
  <div class="price">{{code}}</div>
  <div class="price">
    <span>Precio: </span>
    <span class="{{priceClass}}">{{price}}</span>
    <span class="{{discontPriceClass}}">{{discountPrice}}</span>
  </div>
  {{imageTemplate}}
  <div style="margin-bottom: 10px;">
    <input id="checkbox-big" name="big" {{checkedBig}} type="checkbox" onclick='(() => {
      const checkedBig = document.getElementById("checkbox-big");
      checkedBig.checked = true;
      const checkedSmall = document.getElementById("checkbox-small");
      checkedSmall.checked = false;
      const productImageBig = document.getElementById("img-product-big");
      productImageBig.style = "display: flex;"
      const productImageSmall = document.getElementById("img-product-small");
      productImageSmall.style = "display: none;"
    })()' />
    <label for="checkbox-big">Grande</label>
    <input id="checkbox-small" name="small" {{checkedSmall}} type="checkbox" onclick='(() => {
      const checkedBig = document.getElementById("checkbox-big");
      checkedBig.checked = false;
      const checkedSmall = document.getElementById("checkbox-small");
      checkedSmall.checked = true;
      const productImageBig = document.getElementById("img-product-big");
      productImageBig.style = "display: none;"
      const productImageSmall = document.getElementById("img-product-small");
      productImageSmall.style = "display: flex;"
    })()' />
    <label for="checkbox-small">Pequeño</label>
  </div>
  <button class="fourb-button" id="add-to-cart-button" {{buttonProps}}>{{buttonText}}</button>
</body>
<script type="module">
  import { fetchWrapper } from './main.js'
  const addToCart = async () => {
    const data = await fetchWrapper('https://{{domain}}/add-to-cart', {
      method: "POST",
      body: JSON.stringify({
        product_id: "{{_id}}",
        qty: 1
      })
    })
    alert("Añadido al carrito")
  }
  const button = document.getElementById("add-to-cart-button")
  if (button) {
    button.onclick = () => {
      addToCart()
    }
  }
</script>

</html>